<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chat</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="javascripts/v1.js"></script>
  
</head>
<body ng-app="chatApp">
  <div ng-controller="chatController">
  <form novalidate class="simple-form">
    Name: <input type="text" ng-model="user.name" /><br />
    Chat: <input type="text" ng-model="user.chat" /><br />
    <input type="submit" ng-click="update(user)" value="Save" />
  </form>
  <ul>
  <li ng-repeat='line in chats'>
  {{line.name}} - {{line.chat}}
  </li>
  </ul>
</div>

</body>
</html>
